
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&family=Lobster&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-size: 1rem;
	font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
body #root{
    background: #cee4e7;
}

.container{
    width: 90%;
    margin: 0 auto;
}

table,
table td,
table th{
    border: 1px solid #333;
}
table td,
table th{
    padding: 5px;
}
table th{
    background-color: #111;
    color: #fff;
}

.reward-card {
    text-align: center;
    margin-top: 50px;
}
.reward-card span {
    border: 3px solid #FF4E12;
    padding: 25px 23px;
    color: #fff;
    background: #111;
    font-weight: bold;
    font-size: 20px; 
    border-radius: 50%;
}

.reward-card h5{
    margin-top: 2rem;
    text-align: center;
}
